<!-- Header Bar -->
<div class="row header" ng-controller="HeaderCtrl">
  <div class="col-xs-12">
    <div class="user pull-right">
      <!--<div class="col-sm-6">-->
        <div class="dropdown">
          <button class="btn btn-profile dropdown-toggle" type="button"
                  id="dropdownMenu1" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <div class="item">
              <img src="styles/images/avatar.jpg"
                   style="width: 40px;height: 40px;margin-top: 1px; margin-bottom:1px;border-radius: 2px;padding: -2px">
            </div>
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="#">Profile</a></li>
            <li><a href="#" ng-click="logout()">Logout</a></li>
          </ul>
        </div>

      <div class="dropdown" >
        <button class="btn btn-profile dropdown-toggle" type="button"
                id="birthDayDropDownMenu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
          <div class="item">
            <i style="color: #8F9092;" class="fa fa-gift fa-3x">
              <span class="badge"
                    style="top: -20px;left: -20px;color: white; background-color:rgba(209, 0, 0, 0.58);">{{birthDaysList.length}}</span>
            </i>
            <!--<img src="styles/images/avatar.jpg"-->
                 <!--style="width: 40px;height: 40px;margin-top: 1px; margin-bottom:1px;border-radius: 2px;padding: -2px">-->
          </div>
          <!--<span class="caret"></span>-->
        </button>

        <ul class="dropdown-menu dropdown-alerts dropdown-menu-right">
          <li ng-repeat="influencer in  birthDaysList | orderBy:'bDayAsNumber'">
            <a ui-sref="memberEdit.info({influencerId:influencer.id})">
              <div>
                <img ng-show="'{{influencer.influencerCode}}'=='engineer'"
                     src="images/engineer.png">
                <img ng-show="'{{influencer.influencerCode}}'=='mason'"
                     src="images/mason.png">
                <img ng-show="'{{influencer.influencerCode}}'=='to'"
                     src="images/to.png">
                <!--<i class="fa fa-comment fa-fw"></i>-->
                {{influencer.influncerName}}
                <span class="pull-right text-muted small">{{influencer.dateOfBirth|date:'MMM-dd'}}</span>
              </div>
            </a>
           </li>
        </ul>
      </div>

      <div class="dropdown">

             <div class="col-xs-2">
              <a class="btn icon-btn btn-search" style="margin-top: 15px" ng-click="search();">
                <span class="glyphicon glyphicon-search text-danger"></span></a>
            </div>
      </div>

      <div class="dropdown">
          <div class="item">
               	 <button   data="openedGivenDatePicker" ng-click="open($event)"  style="margin-top: 15px;">
			             <i class="glyphicon glyphicon-calendar"/>
			      </button>
         </div>
      </div>

      <div class="dropdown">
               <div class="item">

			          <input class="form-control"
			                 id="siteVisitedDate"
			                 type="text"
			                 is-open="openedGivenDatePicker"
			                 datepicker-popup="MMM, yyyy"
			                 ng-model="birthDay"  style="margin-top: 15px;"
			                 required />
           </div>
           </div>
      </div>

     <div class="dropdown">
               <div class="item">
               
             
                <br>
             	 <button type="button" ng-csv="birthDayArr" csv-header="['Name', 'Birth Day','NIC','Address','Mobile','Land Phone']" filename="Birthday.csv">Export</button>
             
					
           </div>
     </div>


    <div class="meta">
      <div class="page">
        Dashboard
      </div>
      <div class="breadcrumb-links">
        Home / Dashboard
      </div>
    </div>
  </div>
</div>
