
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-body">
        <div class="col-xs-4">
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Search">
        </div>
        <div class="col-xs-4">
            <label for="search">Items per page:</label>
            <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
        </div>
<form name="popUpeventMemberForm" class="form-horizontal" >

 <table class="table table-striped table-hover">
  <tr>
  <th></th>
  <th>NIC</th>
  <th>Influencer Name</th>
  <th>Mobile Number</th>
  </tr>

   <tr dir-paginate="mason in masonsByAsoAndRegionAndLoc|filter:q |unSelectedIds:memberIds| itemsPerPage: pageSize">

     <td><input type="checkbox" ng-model="data.checked[$index+mason.nic]"  ng-click="addMoreMemebrs(mason.nic,$index)"></td>
   	 <td>{{mason.nic}}</td>
     <td>{{mason.influncerName}}</td>
     <td>{{mason.mobileNo}}</td>
   </tr>

</table>
      <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width: 80px; margin-right: 10px"
                            ng-click="addMoreMembersToEvent(masonsByAsoAndRegionAndLoc)">
                        Add More</button>
                </span>
                 <span>
                    <button class="btn btn-default"
                            style="width: 70px;"
                            ng-click="close()">
                        Cancel</button>
                </span>
         </div>
       </div>
</form>
 <dir-pagination-controls></dir-pagination-controls>
    </div>
    <div class="panel-footer"></div>
</div>
